services:
  elixir:
    image: elixir:${ELIXIR_VERSION:-1.16}-alpine
    working_dir: /application/${ELIXIR_VERSION:-1.16}
    volumes:
      - .:/application/${ELIXIR_VERSION:-1.16}:cached
      - /application/${ELIXIR_VERSION:-1.16}/.elixir_ls
      - /application/${ELIXIR_VERSION:-1.16}/cover
      - build:/application/${ELIXIR_VERSION:-1.16}/_build
      - deps:/application/${ELIXIR_VERSION:-1.16}/deps
      - mix:/root/.mix
    entrypoint: tail -f /dev/null
    environment:
      REDIS_HOSTNAME: redis

  redis:
    image: valkey/valkey:9-alpine
    ports:
      - 6379:6379

volumes:
  build:
  deps:
  mix:
